<div style="display: flex; justify-content: flex-end;">
  <div style="flex: 0 0 25%; background: #fffff8; padding: 2px; border-radius: 4px; box-sizing: border-box;">
    <img src="/assets/pics/doec.png" alt="DOEC" style="width: 100%; height: 160px; object-fit: contain;">
  </div>
  <div style="flex: 65%;">
    <strong>
        Taming the Monster Every Context: Complexity Measure and Unified Framework for Offline-Oracle Efficient Contextual Bandits
    </strong>
    <br>
    <small><strong>Hao Qin</strong>, Chicheng Zhang</small>
    <br>
    <small><em>Conference on Learning Theory (COLT) 2026</em></small>
    <br>
    <small>
        <a href="https://www.arxiv.org/abs/2602.09456">arXiv</a>
    </small>
  </div>
</div>
<div style="display: flex; justify-content: flex-end;">
  <div style="flex: 0 0 25%; background: #fffff8; padding: 2px; border-radius: 4px; box-sizing: border-box;">
    <img src="/assets/pics/unimodal.png" alt="UNIMODAL" style="width: 100%; height: 160px; object-fit: contain;">
  </div>
  <div style="flex: 65%;">
    <strong>
        Physics-Informed Parametric Bandits for Beam Alignment in mmWave Communications
    </strong>
    <br>
    <small><strong>Hao Qin*</strong>, Thang Duong*, Ming F. Li, Chicheng Zhang</small>
    <br>
    <small><em>International Symposium on Modeling and Optimization in Mobile, Ad hoc, and Wireless Networks (WiOpt) 2026</em></small>
    <br>
    <small>
        <a href="https://www.arxiv.org/abs/2510.18299">arXiv</a>
    </small>
  </div>
</div>
<div style="display: flex; justify-content: flex-end;">
  <div style="flex: 0 0 25%; background: #fffff8; padding: 2px; border-radius: 4px; box-sizing: border-box;">
    <img src="/assets/pics/bandits.png" alt="EXP-KL-MS" style="width: 100%; height: 160px; object-fit: contain;">
  </div>
  <div style="flex: 65%;">
    <strong>
        Achieving Adaptivity and Optimality for Multi-Armed Bandits using Exponential-Kullback Leibler Maillard Sampling
    </strong>
    <br>
    <small><strong>Hao Qin</strong>, Kwang-Sung Jun, Chicheng Zhang</small>
    <br>
    <small><em>In submission</em></small>
    <br>
    <small>
        <a href="https://arxiv.org/abs/2502.14379">arXiv</a>
    </small>
  </div>
</div>
<div style="display: flex; justify-content: flex-end;">
  <div style="flex: 0 0 25%; background: #fffff8; padding: 2px; border-radius: 4px; box-sizing: border-box;">
    <img src="/assets/pics/kl-ms.png" alt="KL-MS" style="width: 100%; height: 160px; object-fit: contain;">
  </div>
  <div style="flex: 65%;">
    <strong>
        Kullback-Leibler Maillard Sampling for Multi-armed Bandits with Bounded Rewards
    </strong>
    <br>
    <small><strong>Hao Qin</strong>, Kwang-Sung Jun, Chicheng Zhang</small>
    <br>
    <small><em>Conference on Neural Information Processing Systems (NeurIPS) 2023</em></small>
    <br>
    <small>
        <a href="https://arxiv.org/abs/2304.14989">arXiv</a> | <a href="https://github.com/MjolnirT/Kullback-Leibler-Maillard-Sampling">Code</a>
    </small>
  </div>
</div>
