<div style="display: flex; justify-content: flex-end;">
  <div style="flex: 35%;">
    <img src="/assets/pics/kl-ms.png" alt="KL-MS">
  </div>
  <div style="flex: 65%;">
    <span style="font-size: 0.8em;"> 
    <strong>
        Kullback-Leibler Maillard Sampling for Multi-armed Bandits with Bounded Rewards.
    </strong>
    </span>
    <br>
    <span style="font-size: 0.7em;">
        <strong>Hao Qin</strong>, Kwang-Sung Jun, Chicheng Zhang
    </span>
    <br>
    <span style="font-size: 0.55em;">
        <em>Conference on Neural Information Processing Systems (NeurIPS) 2023</em>
    </span>
    <br>
    <small>
        <a href="https://arxiv.org/abs/2304.14989">arXiv</a> | <a href="https://github.com/MjolnirT/Kullback-Leibler-Maillard-Sampling">Code</a>
    </small>
  </div>
</div>